body{
    font-family: 'Open Sans', sans-serif;
}
/*header section styles*/

header{
     background-image: url("images/banner/banner1.png");   
      width: 1600px;
height: 808px;
}
    
 nav{
    padding: 170px;
 }

.banner-container{
    /*margin: 216px;*/
    /*padding:150px;*/
}


.banner-title{
text-align: right;
color: #151414;
font-size: 65px;
font-style: normal;
font-weight: 700;
margin-bottom: 0;
}

.banner-description{
    text-align: right;
    color:  #444343;
    font-size: 16px;
font-weight: 400;
line-height: 26px;
margin-top: 24px;
}

.common-button{
    border-radius: 5px;
background: #F15B22;
border: 0;
color: white;
padding: 21px 25px 20px 26px;
font-size: 20px;
font-weight: 600;
}

.button-container{
    text-align: right;
}

/*first section styles*/

.second-container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 200px;
}

ul li{
    list-style: none;
}

ul li:before {
  content: '✓';
  margin-right: 15px;
  
}

.failures-title{
    color: #151414;
font-size: 40px;
font-weight: 700;
margin-bottom: 0;
}

.failures-description{
    color: #444343;
font-size: 16px;
font-weight: 400;
line-height: 26px;
margin-top: 24px;
margin-bottom: 0;
}

.failures-list{
    color:  #444343;
font-size: 16px;
font-weight: 400;
line-height: 26px;
}

.logo-container{
  
}

.logo{
  
}

ul{
    margin-top: 16px;
}

/*my plans section style*/